* {
	margin: 0;
	padding: 0;
}

header {
	padding: 1em 0 1em 0;
	margin-bottom: 2em;
}
body {
	background-color: darkgrey;
	font-family: 'Roboto Mono', monospace;
}

h1, h2 {
	font-family: 'IM Fell DW Pica', serif;
}

header h1,
nav,
nav ul,
nav ul li {
	display: inline;
	padding: 10px;
}

nav a {
	color: white;
}

header {
	background-color: #281e16;
	color: white;
}

nav a {
	text-decoration: none
}

.container {
	max-width: 70%;
	margin: 0 auto;
	padding: 2em 1em;
	background-color: #858585;
	box-shadow: 0 0 50px 10px rgba(0,0,0, .8);
}


.main-content p {
	background-color: lightgrey;

}


footer {
	text-align: center;
	color: white;
	padding: 1em 0 1em 0;
}